<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./../_common/_head', { path:path,meta:data.meta['skill'],})
        %>
    </head>
    <body>
        <%- include('./../_common/_header',{path:path,url:data.url,}) %>

        <!-- main -->
        <main>
            <section class="p-page-fv"></section>
            <section class="p-page-fv--title">
                <div class="p-page-fv__inner">
                    <h2 class="p-page-fv__subtitle">skill</h2>
                    <h1 class="p-page-fv__title">スキルセット</h1>
                </div>
            </section>

            <section class="pb-20">
                <!-- .c-skill -->
                <%- include('./_component/_skill',{path:path,}) %>
                <!-- /.c-skill -->
            </section>

            <!-- #skill -->
            <!-- <section id="skill" class="p-page-section">
                <div class="p-page-section__inner l-section__inner">
                    <article class="p-page-section__block">
                        <h2>自分にできること</h2>
                        <p>
                            サイト設計からワイヤーフレーム・デザイン、コーディング、ホームページの管理・運用まで担当できます。
                        </p>
                    </article>
                </div>
            </section> -->
            <!-- /#skill -->

            <!-- #contact -->
            <%- include('./../_common/_contact',{path:path,}) %>
            <!-- /#contact -->
        </main>
        <!-- /main -->

        <%- include('./../_common/_footer',{path:path,}) %>
    </body>
</html>
