<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <!-- main -->
        <main>
            <!-- .p-home-fv -->
            <section class="p-home-fv">
                <figure class="p-home-fv__figure">
                    <picture class="p-home-fv__picture">
                        <img src="./asset/img/fv-content.webp" alt="" />
                    </picture>
                    <figcaption class="p-home-fv__caption">
                        <h1 class="p-home-fv__title">
                            <span class="p-home-fv__subtitle">web designer</span
                            ><br />
                            デザインからコーディング<br />
                            一貫したホームページ制作
                        </h1>
                        <div class="c-cta">
                            <a href="#contact" class="c-cta__button"
                                >問い合わせる</a
                            >
                        </div>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-fv -->

            <!-- .p-home-feature #feature -->
            <section id="feature" class="l-section p-home-feature">
                <figure class="p-home-feature__figure">
                    <picture class="p-home-feature__picture">
                        <img src="./asset/img/feature-content.webp" alt="" />
                    </picture>
                    <figcaption class="p-home-feature__figcaption">
                        <h2 class="p-home-feature__title">
                            <span class="inline-block"
                                >ホームページ制作なら</span
                            ><span class="inline-block"
                                >全ておまかせください</span
                            >
                        </h2>
                        <ul class="c-lists">
                            <li>
                                ホームページをつくりたいけど誰に何を任せればいいかわからない…。
                            </li>
                            <li>
                                今のホームページをもう少し改善したいけど詳しい技術がわからない…。
                            </li>
                            <li>
                                デザイナーとエンジニア、それぞれ依頼してディレクションするのが面倒…。
                            </li>
                        </ul>
                        <div class="p-home-feature__description">
                            <p>
                                一貫したホームページ制作スキルをもとに解決します。
                            </p>
                            <p>
                                ヒアリング・サイト設計からデザイン・コーディング、ホームページの管理・運用まで。
                            </p>
                            <p>
                                ホームページ制作・運用に関する悩みがあればお気軽にご相談ください。
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </section>
            <!-- /.p-home-feature #feature -->

            <!-- #skill -->
            <section id="skill" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        <span>skill</span>
                        自分にできること
                    </h2>
                    <p class="c-text-lead">
                        スキルセットの一覧です。サイト設計からワイヤーフレーム・デザイン、コーディング、ホームページの管理・運用まで担当できます。
                    </p>
                    <article class="c-block-grid4 l-section__block">
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img src="./asset/img/skill1.webp" alt="" />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">サイト設計</h3>
                                <p>
                                    ヒアリングから事業の調査・競合の調査を実施します。ただ依頼通りにサイトを制作するだけではなく、事業を理解したうえでランディングページのコンテンツや訴求を提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>ヒアリング</li>
                                    <li>事業・競合調査</li>
                                    <li>サイトの戦略設計</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img src="./asset/img/skill2.webp" alt="" />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">デザイン</h3>
                                <p>
                                    ワイヤーフレームの作成、WEBサイトのデザインが可能です。また、簡易的なデザインシステムの構築も可能で、コーディングを見据えたレイヤーの切り分けやカラーの定義なども実施します。
                                </p>
                                <ul class="c-lists">
                                    <li>Figma</li>
                                    <li>Adobe XD</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img src="./asset/img/skill3.webp" alt="" />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">
                                    コーディング・構築
                                </h3>
                                <p>
                                    コーディング、WordPressの設置・組み込み・開発も可能です。<br />
                                    WordPressに限らずご要望に合わせたCMSもご提案します。
                                </p>
                                <ul class="c-lists">
                                    <li>HTML/CSS/JavaScript</li>
                                    <li>gulp</li>
                                    <li>EJS</li>
                                    <li>Dart Sass CSS設計（FLOCSS）</li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure class="c-block-grid4__content">
                            <picture class="c-block-grid4__picture">
                                <img src="./asset/img/skill4.webp" alt="" />
                            </picture>
                            <figcaption class="c-block-grid4__caption">
                                <h3 class="c-text-heading3">
                                    サイトの管理・運用
                                </h3>
                                <p>
                                    WordPressなどのサイトの更新作業はもちろん、月次分析レポートの整理なども実施します。<br />
                                    軽微な修正にも対応していますのでお気軽にご相談ください。
                                </p>
                                <ul class="c-lists">
                                    <li>WordPress</li>
                                    <li>Google Analytics</li>
                                    <li>Google Search Console</li>
                                    <li>Google Tag Manager</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>
            <!-- /#skill -->

            <!-- .p-home-work #work -->
            <section id="work" class="l-section p-home-work">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        <span>work</span>
                        実績
                    </h2>
                    <p class="c-text-lead">
                        制作実績になります。実績の詳細をPDFスライドでもまとめていますのでお問い合わせください。
                    </p>
                    <article class="l-section__block">
                        <h3 class="c-block-slideTitle">コーディング実績</h3>
                        <ul class="c-block-slide">
                            <% for (let i = 0; i < 5; i++) { %>
                            <li class="c-block-slide__list">
                                <figure
                                    class="c-block-slide__figure"
                                    data-modal-open="modal-1"
                                >
                                    <img
                                        src="./asset/img/work/cording_lp-plant.webp"
                                        alt=""
                                        loading="lazy"
                                    />
                                    <figcaption
                                        class="c-block-slide__figcaption"
                                    >
                                        ランディングページ
                                    </figcaption>
                                </figure>
                                <article
                                    class="c-block-slide__modal"
                                    data-modal="modal-1"
                                >
                                    <div class="c-block-slide__mask"></div>
                                    <div class="c-block-slide__window">
                                        <dl class="c-block-slide__dl">
                                            <dt>
                                                <img
                                                    class="c-block-slide__img"
                                                    src="./asset/img/work/cording_lp-plant.webp"
                                                    alt=""
                                                    loading="lazy"
                                                />
                                            </dt>
                                            <dd>
                                                <h3>
                                                    観葉植物通販サイトのランディングページ
                                                </h3>
                                                <p>
                                                    HTML/CSS/SCSS/JavaScript/jQuery
                                                </p>
                                                <p>
                                                    <a
                                                        href="https://traveler20.github.io/WDLanding/"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                        >Webサイト</a
                                                    >
                                                </p>
                                            </dd>
                                        </dl>
                                        <div class="c-block-slide__close">
                                            &times;
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <% } %>
                        </ul>
                    </article>
                </div>
            </section>
            <!-- /.p-home-work #work -->

            <!-- #service -->
            <section id="service" class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2">
                        <span>service</span>
                        サービス
                    </h2>
                    <article class="c-block-caption l-section__block">
                        <dl class="c-block-caption__description">
                            <dt class="c-text-heading3 c-text-left">
                                ホームページの設計・デザイン
                            </dt>
                            <dd>
                                事業の理解・競合サイトの分析をもとにホームページを設計・デザインします。<br />
                                ご要望や期間に合わせてホームページの構成からデザインに落とし込んでいきます。
                                <ul class="c-lists">
                                    <li>ディレクトリツリー</li>
                                    <li>ワイヤーフレーム</li>
                                    <li>デザイン</li>
                                </ul>
                            </dd>
                        </dl>
                        <ul class="c-block-caption__slider">
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service1.webp" alt="" />
                            </li>
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service2.webp" alt="" />
                            </li>
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service3.webp" alt="" />
                            </li>
                        </ul>
                    </article>
                    <article class="c-block-caption--reverse l-section__block">
                        <dl class="c-block-caption__description">
                            <dt class="c-text-heading3 c-text-left">
                                コーディング・構築・運用
                            </dt>
                            <dd>
                                コーディング実装はもちろん、サイトへの組み込み、WordPressの構築も担当可能です。<br />
                                ホームページの更新・管理も可能で、継続的な運用ができればと思います。
                                <ul class="c-lists">
                                    <li>コーディング</li>
                                    <li>CMSの構築</li>
                                    <li>更新・解析・改善</li>
                                </ul>
                            </dd>
                        </dl>
                        <ul class="c-block-caption__slider">
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service4.webp" alt="" />
                            </li>
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service5.webp" alt="" />
                            </li>
                            <li class="c-block-caption__slide-list">
                                <img src="./asset/img/service6.webp" alt="" />
                            </li>
                        </ul>
                    </article>
                    <article class="l-section__block">
                        <!-- .c-cta -->
                        <%- include('./_component/_cta',{path:path,}) %>
                        <!-- /.c-cta -->
                    </article>
                </div>
            </section>
            <!-- /#service -->

            <!-- .p-home-about #about -->
            <section id="about" class="l-section p-home-about">
                <div class="l-section__inner">
                    <figure class="p-home-about__figure">
                        <picture class="p-home-about__picture">
                            <img src="./asset/img/profile.webp" alt="" />
                        </picture>
                        <figcaption class="p-home-about__caption">
                            <h2 class="c-text-heading2 c-text-left">
                                <span>profile</span>
                                プロフィール
                            </h2>
                            <p>
                                こんにちは！WEBデザイナー・WEBディベロッパーのゆるけーと申します。<br />
                                本業・副業ともにデザイン・コーディング業務を担当しています。
                            </p>
                            <p>
                                ただランディングページやホームページをつくっておわりではなく、継続的に運用・改善して考えることができますので、お気軽にご相談いただければと思います。
                            </p>
                        </figcaption>
                    </figure>
                    <article class="l-section__block">
                        <h3 class="c-text-heading3 mb-2">技術記事一覧</h3>
                        <p class="c-text-lead">
                            Zennなどで技術に関する情報発信も行っています。
                        </p>
                    </article>
                    <article class="l-section__block">
                        <ul class="c-lists-news">
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/2b315c826be4d8"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >【CDNのコピペあり】Google Fonts
                                    Iconsの導入・使い方・装飾など【保存版】
                                </a>
                            </li>
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/fb09545140a366"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >【脱JavaScript】HTMLとCSSでできるJavaScriptっぽい機能
                                </a>
                            </li>
                            <li class="c-lists-news__list">
                                <a
                                    class="c-lists-news__link"
                                    href="https://zenn.dev/yurukei20/articles/9741118bfb5ee0"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <span class="c-lists-news__category"
                                        >Zenn</span
                                    >Google
                                    FormをHTML/CSSでデザインしたフォームで運用する方法
                                </a>
                            </li>
                        </ul>
                    </article>
                    <!-- <article class="l-section__block">
                        <h3 class="c-text-heading3 mb-2">その他</h3>
                        <p class="c-text-lead">
                            自らもWEBサイトを運営することで、最新情報に対するキャッチアップやサイトの運用・改善スキルを磨いています。
                        </p>
                    </article>
                    <article class="l-section__block"></article> -->
                </div>
            </section>
            <!-- /.p-home-about #about -->

            <!-- #contact -->
            <%- include('./_common/_contact',{path:path,}) %>
            <!-- /#contact -->
        </main>
        <!-- /main -->

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
